.footer__container {
    background-color: black;
    border-radius: 12px;
    padding: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .footer__texte {
       color: white; 
       display: flex;
       justify-content: center;
       font-weight: bold;
       @include size-lm
    }
}