.forms {
  background-color: rgba(0, 0, 0, 0.274);
  border-radius: 12px;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 24px 0;

  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__title {
    text-align: center;
    margin: 12px 0;
    @include size-l;
    font-weight: bold;
  }
  &__item {
    flex: 40%;
    background-color: #ffffff6c;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 16px;
    margin: 8px;
  }

  &__desc {
    @include size-lm;
    font-weight: bold;
    margin-bottom: 8px;
    font-style: italic;
  }

  &__input {
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    width: 95%;
    padding: 12px 6px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    margin: 32px 0;
  }
  &__line {
    flex-grow: 1;
    height: 1px;
    background-color: #000;
    margin: 0 8px;
  }

  &__address {
    font-weight: bold;
    font-size: 18px;
  }

  &__button {
    margin: 12px 0;
    padding: 18px;
    background-color: white;
    width: 90%;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    @include size-lm;
    font-weight: bold;
    cursor: pointer;
  }
  &__select {
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    width: 100%;
    padding: 12px 6px;
    font-size: 16px;
    outline: none;
  }
  &__modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 300px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 4px;
    z-index: 1000;
  }
}

.modal-opened::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.forms__modal_button {
  position: absolute;
  top: -5%;
  right: -3%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}